# The Characteristics of a Tennis Match Winner

### Group 38 Project Proposal

#### Introduction
Likelihood of winning a game of tennis can be divided into four categories: strategy, technique, physical attributes and preparation, and mental game. While all components contribute to a win, we aim to test the importance of physical attributes and preparation by predicting the current rank of a tennis player based on attributes such as height, age, hand-dominance, seasons active, and favorite surface. To answer this question we will use data from the dataset “player_stats.csv”, which describes the player statistics for the top 500 tennis players, using data on physical attributes such as height, age, and hand dominance, as well as on variables such as seasons active and favorite surface. 

#### Preliminary exploratory data analysis

##### Methods
In progress

##### Expected outcomes and significance:

- What do you expect to find?
- What impact could such findings have?
- What future questions could this lead to?

#### Our Data Analysis:

In [1]:
# Setup
set.seed(3)

library(tidyverse)
library(tidymodels)
library(repr)
library(cowplot)
library(GGally)
library(ISLR)
library(themis)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

ERROR: Error in library(themis): there is no package called ‘themis’

##### First, we will tidy up our data:

In [5]:
# Load the data from the web
url <- "https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS"
tennis <- read_csv(url) 

# Fix column names
colnames(tennis) <- make.names(colnames(tennis))

# Select only relevant columns to our study
tennis <- select(tennis, Age:Seasons)
tennis <- select(tennis, c(Age, Plays, Current.Rank, Height))

tennis

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Age             Plays        Current.Rank Height
1   26 (25-04-1993) Right-handed 378 (97)     NA
2   18 (22-12-2001) Left-handed  326 (119)    NA
3   32 (03-11-1987) Right-handed 178 (280)    185 cm
4   21 (29-05-1998) Right-handed 236 (199)    NA
5   27 (21-10-1992) Right-handed 183 (273)    193 cm
6   22 (11-02-1997) Right-handed 31 (1398)    NA
7   28 (18-11-1991) Right-handed 307 (131)    NA
8   21 (12-05-1998) Right-handed 232 (205)    NA
9   25 (29-07-1994) Right-handed 417 (81)     NA
10  20 (02-04-1999) Right-handed 104 (534)    NA
11  19 (08-08-2000) Right-handed 22 (1701)    NA
12  23 (11-02-1996) Right-handed 4 (5960)     NA
13  28 (28-11-1991) Right-handed 148 (359)    NA
14  23 (22-02-1996) Left-handed  431 (74)     NA
15  28 (17-03-1991) Right-handed 134 (411)    NA
16  31 (23-09-1988) Right-handed 121 (460)    198 cm
17  24 (26-04-1995) NA           375 (99)     NA
18  22 (02-05-1997) Right-handed 133 (411)    NA
19  20 (31-08-1999) Right-handed 54 (959)     NA
20  22 (28-10-1997) Right-handed 34 (1335)    NA
21  33 (12-04-1986) Right-handed 130 (417)    190 cm
22  32 (07-10-1987) Right-handed 45 (1100)    198 cm
23  30 (20-09-1989) Right-handed 105 (528)    180 cm
24  30 (30-08-1989) Right-handed 172 (294)    NA
25  30 (29-11-1989) Right-handed 293 (138)    NA
26  22 (23-03-1997) Right-handed 339 (115)    NA
27  26 (14-09-1993) Right-handed 448 (69)     NA
28  30 (12-11-1989) Left-handed  123 (442)    NA
29  21 (19-02-1998) Right-handed 388 (93)     NA
30  32 (24-05-1987) Right-handed 12 (2310)    178 cm
⋮   ⋮               ⋮            ⋮            ⋮
471 23 (12-01-1997) Right-handed 210 (226)    NA
472 24 (07-02-1995) NA           493 (61)     NA
473 28 (13-11-1991) Right-handed 167 (302)    NA
474 34 (17-06-1985) Right-handed 179 (279)    183 cm
475 26 (29-06-1993) Right-handed 298 (136)    NA
476 21 (27-11-1998) NA           485 (63)     NA
477 25 (21-09-1994) NA           353 (110)    NA
478 24 (05-05-1995) Right-handed 289 (140)    NA
479 25 (24-08-1994) Right-handed 486 (63)     NA
480 18 (03-08-2001) Right-handed 360 (107)    NA
481 27 (27-10-1992) Right-handed 207 (233)    NA
482 23 (03-10-1996) Right-handed 365 (105)    NA
483 29 (16-10-1990) Right-handed 351 (110)    NA
484 26 (17-01-1994) Right-handed 334 (116)    NA
485 22 (20-01-1998) Right-handed 50 (1050)    NA
486 32 (14-01-1988) Left-handed  260 (172)    NA
487 23 (03-05-1996) Left-handed  429 (75)     NA
488 24 (27-09-1995) Left-handed  71 (797)     NA
489 24 (04-07-1995) Right-handed 103 (534)    NA
490 18 (08-08-2001) Right-handed 299 (135)    NA
491 28 (12-07-1991) Right-handed 292 (138)    NA
492 26 (28-07-1993) Right-handed 324 (120)    NA
493 31 (20-01-1989) Left-handed  310 (128)    NA
494 32 (19-10-1987) Right-handed 416 (81)     NA
495 20 (31-01-1999) Right-handed 397 (89)     NA
496 20 (13-04-1999) Right-handed 382 (95)     NA
497 26 (03-09-1993) Right-handed 5 (5890)     185 cm
498 23 (14-03-1996) Left-handed  495 (60)     NA
499 24 (17-05-1995) NA           419 (81)     NA
500 22 (26-03-1997) Left-handed  451 (69)     NA

In [6]:
# Now we will tidy up our data further by getting rid of unnecessary information in certain columns (ex. dates, "cm", extra number next to rank)

# Separate unnecessary information from their original column into a new column
tennis <- separate(tennis, col = Age, into = c("Age", "x"), sep = " ", convert = TRUE) |> 
          separate(col = Current.Rank, into = c("Current.Rank", "y"), sep = " ", convert = TRUE) |>
          separate(col = Height, into = c("Height", "z"), sep = " ", convert = TRUE) 

# Delete unnecessary columns
tennis <- select(tennis, -c(x, y, z))

tennis

    Age Plays        Current.Rank Height
1   26  Right-handed 378           NA
2   18  Left-handed  326           NA
3   32  Right-handed 178          185
4   21  Right-handed 236           NA
5   27  Right-handed 183          193
6   22  Right-handed  31           NA
7   28  Right-handed 307           NA
8   21  Right-handed 232           NA
9   25  Right-handed 417           NA
10  20  Right-handed 104           NA
11  19  Right-handed  22           NA
12  23  Right-handed   4           NA
13  28  Right-handed 148           NA
14  23  Left-handed  431           NA
15  28  Right-handed 134           NA
16  31  Right-handed 121          198
17  24  NA           375           NA
18  22  Right-handed 133           NA
19  20  Right-handed  54           NA
20  22  Right-handed  34           NA
21  33  Right-handed 130          190
22  32  Right-handed  45          198
23  30  Right-handed 105          180
24  30  Right-handed 172           NA
25  30  Right-handed 293           NA
26  22  Right-handed 339           NA
27  26  Right-handed 448           NA
28  30  Left-handed  123           NA
29  21  Right-handed 388           NA
30  32  Right-handed  12          178
⋮   ⋮   ⋮            ⋮            ⋮
471 23  Right-handed 210           NA
472 24  NA           493           NA
473 28  Right-handed 167           NA
474 34  Right-handed 179          183
475 26  Right-handed 298           NA
476 21  NA           485           NA
477 25  NA           353           NA
478 24  Right-handed 289           NA
479 25  Right-handed 486           NA
480 18  Right-handed 360           NA
481 27  Right-handed 207           NA
482 23  Right-handed 365           NA
483 29  Right-handed 351           NA
484 26  Right-handed 334           NA
485 22  Right-handed  50           NA
486 32  Left-handed  260           NA
487 23  Left-handed  429           NA
488 24  Left-handed   71           NA
489 24  Right-handed 103           NA
490 18  Right-handed 299           NA
491 28  Right-handed 292           NA
492 26  Right-handed 324           NA
493 31  Left-handed  310           NA
494 32  Right-handed 416           NA
495 20  Right-handed 397           NA
496 20  Right-handed 382           NA
497 26  Right-handed   5          185
498 23  Left-handed  495           NA
499 24  NA           419           NA
500 22  Left-handed  451           NA

In [50]:
tennis_split <- initial_split(tennis, prop = 0.7, strata = Current.Rank) 
tennis_train <- training(tennis_split) 
tennis_test <- testing(tennis_split)

#sum(apply(tennis_train_table, 1, function(x) any(is.na(x)))) #Used to find the number of missing observations
          
mean_Height <- mean(tennis_train$Height, na.rm = TRUE) # used to find the mean Height

mean_Age <- mean(tennis_train$Age, na.rm = TRUE) # used to find the mean Age

          
tab <- matrix(c(25.905, 185.83, 271, 500), ncol=4, byrow=TRUE) #used to create a table to express the answers.
colnames(tab) <- c('Mean Age','Mean Height','Missing Observations', 'Observations')
rownames(tab) <- c('Value')
tab <- as.table(tab)
tab

      Mean Age Mean Height Missing Observations Observations
Value   25.905     185.830              271.000      500.000